<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstudio.school.repository.school.mapper.CityMapper">

	<select id="getCitys" resultType="com.xstudio.school.domain.po.school.CityPo">
		SELECT * FROM basic_city WHERE status = 1;
	</select>

	<select id="getCity" parameterType="Integer" resultType="com.xstudio.school.domain.po.school.CityPo">
        SELECT * FROM basic_city WHERE id = #{id} AND status = 1;
	</select>
    
    <select id="getCitysByIds" parameterType="String" resultType="com.xstudio.school.domain.po.school.CityPo">
		SELECT * FROM basic_city WHERE status = 1;
	</select>
    
    <update id="updateCity" parameterType="com.xstudio.school.domain.po.school.CityPo">
		UPDATE
			basic_city
		SET
        	id = '${id}',
        	name = '${name}',
        	ename = '${ename}',
        	citycode = '${citycode}',
        	zipcode = '${zipcode}',
        	provinceid = '${provinceid}',
        	countryid = '${countryid}',
        	status = '${status}',
        	createtime = '${createtime}',
        	updatetime = '${updatetime}',
		WHERE
            id = ${id}
    </update>

	<insert id="insertCity" parameterType="com.xstudio.school.domain.po.school.CityPo">
        INSERT INTO basic_city(
        	'id',
                    	'name',
                    	'ename',
                    	'citycode',
                    	'zipcode',
                    	'provinceid',
                    	'countryid',
                    	'status',
                    	'createtime',
                    	'updatetime'
            )
		VALUES (
            '${id}',
                        '${name}',
                        '${ename}',
                        '${citycode}',
                        '${zipcode}',
                        '${provinceid}',
                        '${countryid}',
                        '${status}',
                        '${createtime}',
                        '${updatetime}'
            );
	</insert>
</mapper>
