<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstudio.school.repository.school.mapper.MerchantImageMapper">

	<select id="getMerchantImages" resultType="com.xstudio.school.domain.po.school.MerchantImagePo">
		SELECT * FROM merchant_merchant_image WHERE status = 1;
	</select>

	<select id="getMerchantImage" parameterType="Integer" resultType="com.xstudio.school.domain.po.school.MerchantImagePo">
        SELECT * FROM merchant_merchant_image WHERE id = #{id} AND status = 1;
	</select>
    
    <select id="getMerchantImagesByIds" parameterType="String" resultType="com.xstudio.school.domain.po.school.MerchantImagePo">
		SELECT * FROM merchant_merchant_image WHERE status = 1;
	</select>
    
    <update id="updateMerchantImage" parameterType="com.xstudio.school.domain.po.school.MerchantImagePo">
		UPDATE
			merchant_merchant_image
		SET
        	id = '${id}',
        	merchantid = '${merchantid}',
        	imageid = '${imageid}',
        	sequence = '${sequence}',
        	status = '${status}',
        	createtime = '${createtime}',
        	updatetime = '${updatetime}',
		WHERE
            id = ${id}
    </update>

	<insert id="insertMerchantImage" parameterType="com.xstudio.school.domain.po.school.MerchantImagePo">
        INSERT INTO merchant_merchant_image(
        	'id',
                    	'merchantid',
                    	'imageid',
                    	'sequence',
                    	'status',
                    	'createtime',
                    	'updatetime'
            )
		VALUES (
            '${id}',
                        '${merchantid}',
                        '${imageid}',
                        '${sequence}',
                        '${status}',
                        '${createtime}',
                        '${updatetime}'
            );
	</insert>
</mapper>
