<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstudio.school.repository.school.mapper.MerchantCustomCategoryMapper">

	<select id="getMerchantCustomCategorys" resultType="com.xstudio.school.domain.po.school.MerchantCustomCategoryPo">
		SELECT * FROM merchant_merchant_custom_category WHERE status = 1;
	</select>

	<select id="getMerchantCustomCategory" parameterType="Integer" resultType="com.xstudio.school.domain.po.school.MerchantCustomCategoryPo">
        SELECT * FROM merchant_merchant_custom_category WHERE id = #{id} AND status = 1;
	</select>
    
    <select id="getMerchantCustomCategorysByIds" parameterType="String" resultType="com.xstudio.school.domain.po.school.MerchantCustomCategoryPo">
		SELECT * FROM merchant_merchant_custom_category WHERE status = 1;
	</select>
    
    <update id="updateMerchantCustomCategory" parameterType="com.xstudio.school.domain.po.school.MerchantCustomCategoryPo">
		UPDATE
			merchant_merchant_custom_category
		SET
        	id = '${id}',
        	merchatid = '${merchatid}',
        	categoryname = '${categoryname}',
        	status = '${status}',
        	createtime = '${createtime}',
        	updatetime = '${updatetime}',
		WHERE
            id = ${id}
    </update>

	<insert id="insertMerchantCustomCategory" parameterType="com.xstudio.school.domain.po.school.MerchantCustomCategoryPo">
        INSERT INTO merchant_merchant_custom_category(
        	'id',
                    	'merchatid',
                    	'categoryname',
                    	'status',
                    	'createtime',
                    	'updatetime'
            )
		VALUES (
            '${id}',
                        '${merchatid}',
                        '${categoryname}',
                        '${status}',
                        '${createtime}',
                        '${updatetime}'
            );
	</insert>
</mapper>
