/************************************************************************************************************************************************
 * FileName:       ProductImageMapper.xml
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstudio.school.repository.mapper.school.ProductImageMapper">

	<select id="getProductImages" resultType="com.xstudio.school.domain.po.school.ProductImagePo">
		SELECT * FROM product_product_image WHERE status = 1;
	</select>

	<select id="getProductImage" parameterType="Integer" resultType="com.xstudio.school.domain.po.school.ProductImagePo">
        SELECT * FROM product_product_image WHERE id = #{id} AND status = 1;
	</select>
    
    <select id="getProductImagesByIds" parameterType="String" resultType="com.xstudio.school.domain.po.school.ProductImagePo">
		SELECT * FROM product_product_image WHERE status = 1;
	</select>
    
    <update id="updateProductImage" parameterType="com.xstudio.school.domain.po.school.ProductImagePo">
		UPDATE
			product_product_image
		SET
        	id = '${id}',
        	productid = '${productid}',
        	imageid = '${imageid}',
        	status = '${status}',
        	createtime = '${createtime}',
        	updatetime = '${updatetime}',
		WHERE
            id = ${id}
    </update>

	<insert id="insertProductImage" parameterType="com.xstudio.school.domain.po.school.ProductImagePo">
        INSERT INTO product_product_image(
        	'id',
                    	'productid',
                    	'imageid',
                    	'status',
                    	'createtime',
                    	'updatetime'
            )
		VALUES (
            '${id}',
                        '${productid}',
                        '${imageid}',
                        '${status}',
                        '${createtime}',
                        '${updatetime}'
            );
	</insert>
</mapper>
