/************************************************************************************************************************************************
 * FileName:       SchoolNewsMapper.xml
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstudio.school.repository.mapper.school.SchoolNewsMapper">

	<select id="getSchoolNewss" resultType="com.xstudio.school.domain.po.school.SchoolNewsPo">
		SELECT * FROM school_school_news WHERE status = 1;
	</select>

	<select id="getSchoolNews" parameterType="Integer" resultType="com.xstudio.school.domain.po.school.SchoolNewsPo">
        SELECT * FROM school_school_news WHERE id = #{id} AND status = 1;
	</select>
    
    <select id="getSchoolNewssByIds" parameterType="String" resultType="com.xstudio.school.domain.po.school.SchoolNewsPo">
		SELECT * FROM school_school_news WHERE status = 1;
	</select>
    
    <update id="updateSchoolNews" parameterType="com.xstudio.school.domain.po.school.SchoolNewsPo">
		UPDATE
			school_school_news
		SET
        	id = '${id}',
        	schoolid = '${schoolid}',
        	newstitle = '${newstitle}',
        	news = '${news}',
        	status = '${status}',
        	createtime = '${createtime}',
        	updatetime = '${updatetime}',
		WHERE
            id = ${id}
    </update>

	<insert id="insertSchoolNews" parameterType="com.xstudio.school.domain.po.school.SchoolNewsPo">
        INSERT INTO school_school_news(
        	'id',
                    	'schoolid',
                    	'newstitle',
                    	'news',
                    	'status',
                    	'createtime',
                    	'updatetime'
            )
		VALUES (
            '${id}',
                        '${schoolid}',
                        '${newstitle}',
                        '${news}',
                        '${status}',
                        '${createtime}',
                        '${updatetime}'
            );
	</insert>
</mapper>
