<%-- 
Name:           mybatis.cst
Author:         hbxia
Description:    
--%>

<%@ Template Language="C#" TargetLanguage="Java" ResponseEncoding="utf-8" Encoding="utf-8" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="SchemaExplorer" %>
<!-- #include file="../../../infrastructure.cst" -->

<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Description="目标数据表" Category="Context" %>
<%@ Property Name="Namespace" Type="System.String" Default="" Category="Context" %>
<%@ Property Name="TablePrefix" Type="System.String" Optional="True" Default="" Category="Context" %>

/************************************************************************************************************************************************
 * FileName:       <%=GetClassName(SourceTable) %>Mapper.java
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/

package <%=Namespace%>.repository.<%=SourceTable.Database.Name %>.mapper;

import java.util.List;
import java.util.ArrayList;
import org.springframework.stereotype.Repository;
import <%=Namespace%>.domain.po.<%=SourceTable.Database.Name %>.*;

@Repository
public interface <%=GetClassName(SourceTable) %>Mapper {

    /**
     * getItem
     * @param id
     * @return
     */
    <%=GetClassName(SourceTable) %>Po get<%=GetClassName(SourceTable) %>(Integer id);
    
    /**
     * getItemByIds
     * @param ids
     * @return
     */
    List<<%=GetClassName(SourceTable) %>Po> get<%=GetClassName(SourceTable) %>sByIds(List<Integer> ids);
    
     /**
     * get list
     * @return
     */
    List<<%=GetClassName(SourceTable) %>Po> get<%=GetClassName(SourceTable) %>s();
    
    /**
     * update item
     * @param item
     * @return
     */
    boolean update<%=GetClassName(SourceTable) %>(<%=GetClassName(SourceTable) %>Po item);
    
    /**
     * insert item
     * @param item
     * @return
     */
    boolean insert<%=GetClassName(SourceTable) %>(<%=GetClassName(SourceTable) %>Po item);
}