<%-- 
Name:           repository.cst
Author:         hbxia
Description:    
--%>

<%@ Template Language="C#" TargetLanguage="Java" ResponseEncoding="utf-8" Encoding="utf-8" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="SchemaExplorer" %>
<!-- #include file="../../../infrastructure.cst" -->

<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Description="目标数据表" Category="Context" %>
<%@ Property Name="Namespace" Type="System.String" Default="" Category="Context" %>
<%@ Property Name="TablePrefix" Type="System.String" Optional="True" Default="" Category="Context" %>

/************************************************************************************************************************************************
 * FileName:       <%=GetClassName(SourceTable) %>Mapper.java
 * Author:         hbxia
 * Description:    this is auto genetated, don't change!
*************************************************************************************************************************************************/

package <%=Namespace%>.repository.<%=SourceTable.Database.Name %>;

import java.util.List;
import java.util.ArrayList;
import org.springframework.stereotype.Repository;
import org.springframework.beans.factory.annotation.Autowired;
import <%=Namespace%>.repository.<%=SourceTable.Database.Name %>.mapper.*;
import <%=Namespace%>.domain.po.<%=SourceTable.Database.Name %>.*;

@Repository
public class <%=GetClassName(SourceTable) %>Repository {

    @Autowired
    private <%=GetClassName(SourceTable) %>Mapper mapper = null;

    /**
     * getItem
     * @param id
     * @return
     */
    public <%=GetClassName(SourceTable) %> get<%=GetClassName(SourceTable) %>(Integer id) {
        return mapper.get<%=GetClassName(SourceTable) %>(id);
    }
    
    /**
     * getItemByIds
     * @param ids
     * @return
     */
    public List<<%=GetClassName(SourceTable) %>Po> get<%=GetClassName(SourceTable) %>sByIds(List<Integer> ids) {
        return mapper.get<%=GetClassName(SourceTable) %>sByIds(ids);
    }
    
     /**
     * get list
     * @return
     */
    public List<<%=GetClassName(SourceTable) %>Po> get<%=GetClassName(SourceTable) %>s() {
        return mapper.get<%=GetClassName(SourceTable) %>s();
    }
    
    /**
     * update item
     * @param item
     * @return
     */
    public boolean update<%=GetClassName(SourceTable) %>(<%=GetClassName(SourceTable) %>Po item) {
        return mapper.update<%=GetClassName(SourceTable) %>(item);
    }
    
    /**
     * insert item
     * @param item
     * @return
     */
    public boolean insert<%=GetClassName(SourceTable) %>(<%=GetClassName(SourceTable) %>Po item) {
        return mapper.insert<%=GetClassName(SourceTable) %>(item);
    }
}